body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 40px;
  color: #714288;
  font-weight: 1000;
  margin-top: 10px;
  margin-left: 5px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 6px;
}
.weather-app {
  border: 3px solid #714288;
  border-radius: 5px;
  box-shadow: 2px 2px 4px;
  padding: 20px;
  margin: 20px auto;
  max-width: 620px;
  background: #fff;
  height: 480px;
}
#date,
#description {
  color: #caabd8;
  line-height: 1;
  list-style: none;
}
#description {
  text-transform: capitalize;
}
.weather-temperature .weather-icon {
  width: 100px;
}
.weather-temperature .temperature {
  font-size: 58px;
  color: #714288;
}
.weather-temperature .units {
  position: relative;
  top: -30px;
  left: 10px;
}
.weather-temperature .active {
  color: #714288;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-conditions {
  color: #caabd8;
  margin-top: 17px;
  font-weight: lighter;
  list-style: none;
  font-size: 18px;
  position: relative;
  right: -32px;
  line-height: 1;
}
.windHumidityButtons {
  margin: 30px 0px 40px 30px;
}
.temperatureButton,
.humidButton,
.windButton {
  border-right: 3px solid #faf4e1;
  border-top: none;
  border-left: none;
  border-bottom: none;
  background-color: transparent;
  max-width: 220px;
  padding: 0px 5px 0px 5px;
  color: #9873b9;
  font-size: 14px;
}
.temperatureButton:hover,
.humidButton:hover,
.windButton:hover {
  color: #caabd8;
  cursor: pointer;
}
.windButton {
  border-right: none;
}
.cityInput {
  width: 105%;
  border: 2px solid #faf4e1;
  box-shadow: 2px 2px 5px;
}
.submitSearch {
  width: 350%;
  height: 110%;
  border: 2px solid #caabd8;
  box-shadow: 1px 1px 2px #9b9b9b;
  border-radius: 8px;
  background-color: #9873b9;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  color: #faf4e1;
  padding: 2px 20px;
  display: inline;
  margin-left: 2px;
  font-size: 12px;
}
.submitSearch:hover {
  background: #caabd8;
  color: #9873b9;
  border: 2px solid #faf4e1;
}
.currentLocationButton {
  display: inline;
  width: 185%;
  height: 110%;
  margin-left: 49px;
  font-size: 12px;
  border: 2px solid #caabd8;
  box-shadow: 1px 1px 2px #9b9b9b;
  border-radius: 8px;
  background-color: #9873b9;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  color: #faf4e1;
  padding: 2px 3px;
}
.currentLocationButton:hover {
  background: #caabd8;
  color: #9873b9;
  border: 2px solid #faf4e1;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.day_block {
  float: left;
  padding: 10px 10px 10px 3px;
  width: 14%;
  color: #caabd8;
}
.day_block-date {
  text-align: center;
  font-size: 18px;
}
.day_block-img {
  display: block;
  margin: 0 auto;
  width: 50px;
}
.day_block-temp {
  text-align: center;
  font-size: 18px;
}
p {
  text-align: center;
}
